/*
    Document   : t-effects
    Created on : 01-Feb-2012, 11:04:19
    Author     : Dmitry Sheiko
    Description:
        Supports transittional effect library with stylesheets.
*/

.te-transition {
 -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
   -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.te-boundingBox {
    position: relative;
    overflow: hidden;
}
.te-boundingBox img {
    border: 0;
    visibility: hidden;
}
.te-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
}
.te-horizontal-grid,
.te-vertical-grid {
    overflow: hidden;
    vertical-align: bottom;
}
.te-grid {
    display: none;
}

.te-vertical-grid .te-grid > div {
    display: inline-block;
    float: left;
    background-repeat: no-repeat;
}
.te-horizontal-grid .te-grid > div {
    display: block;
    background-repeat: no-repeat;
    position: relative;
}
.te-slider {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    text-align: left;
}

